.App {
    text-align: center;
}

.App-header {
    background-color: #33454d;
    min-height: 10vh;
    font-size: calc(18px + 0.5vmin);
    color: white;
    padding: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* nav > ul {
    display: flex;
    justify-content: space-around;
} */

nav li {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 0;
}

@media all and (min-width: 992px) {
    .App-header {
        justify-content: flex-end;
    }

    nav ul {
        margin-right: 10vmin;
    }
}

@media all and (min-width: 480px) and (max-width: 991px) {
    nav li {
        margin: 0 70px;
    }
}




